spring:
  application:
    name: supplychain

  datasource:
    url: jdbc:postgresql://postgres:5432/supplychainx_db
    username: supplychainx_user
    password: supplychainx_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update  # Changé de "create" à "update"
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    open-in-view: false

  liquibase:
    enabled: false

  main:
    allow-bean-definition-overriding: true

server:
  port: 8080

logging:
  level:
    root: INFO
    org.supplychain: DEBUG
    org.springdoc: DEBUG


